---
interface Props {
  title: string;
  body: string;
  href: string;
}

const { href, title, body } = Astro.props;
---

<a href={href} class="block">
  <div
    class="group w-[80vw] md:w-52 h-full rounded-lg shadow-sm hover:shadow-lg border border-border list-none p-2 text-text-body transition-all duration-500 hover:border-primary hover:text-white bg-background flex flex-col"
  >
    <h5 class="text-sm text-text-subheading mb-2 font-mono">
      {title}
      <span class="group-hover:ml-2 transition-all duration-300">&rarr;</span>
    </h5>
    <p
      class="text-sm text-text-description text-wrap font-mono mt-auto flex-grow"
    >
      {body}
    </p>
  </div>
</a>

<style>
  li {
    margin: 0;
    font-size: 1.25rem;
    transition: color 0.6s cubic-bezier(0.22, 1, 0.36, 1);
  }
  p {
    margin-top: 0.25rem;
    margin-bottom: 0;
  }
  li:is(:hover, :focus-within) {
    background-position: 0;
  }
  li:is(:hover, :focus-within) h5 {
    @apply text-primary;
  }
</style>
