---
import { Image } from "astro:assets";
import faceImage from "../../public/dayangraham.png";

const { class: className } = Astro.props;
---

<div class="w-full md:w-96 flex flex-col items-center">
  <div>
    <Image
      class:list={["w-48 h-48 rounded-full object-cover mb-4", className]}
      src={faceImage}
      alt={`Dayan Graham's animated face`}
    />
  </div>
  <h2
    class="headline text-text-heading text-4xl md:text-headline md:leading-[4rem] mb-1"
  >
    {"< dayan graham />"}
  </h2>
  <p class="text-text-description text-md mb-4">
    <span class="font-mono">pronounced</span> /ˈdeɪɪ(j)ən . ɡreɪəm/
  </p>
  <p class="text-text-body text-md text-right font-mono whitespace-nowrap">
    software engineer based in <s class="text-text-body/20">london</s> the cayman
    islands
  </p>
</div>
